.container {
    background : beige;
    height : 100vh;
    display : flex;
    flex-direction : row; /*메인축. 컨텐츠를 어떤 순서로 뿌려줄지결정. 4가지 방향이 있다.*/
    flex-wrap : wrap;  /* 컨텐츠가 해상도를 넘을때 */
    justify-content: space-between;  /* 중심축에서의 컨텐츠의 배치(정렬). 한글의 글자정렬 같은 개념*/
    align-items: center; /* 반대축에서의 배치(정렬) */
    align-content: space-between; /*반대축에서의 컨테츠를 어떤 순서로 뿌려줄지 */
}

.item{
    width : 40px;
    height : 40px;
    border : 1px solid black ;
}

.item1{
    background : #f44336;
}
.item2{
    background : #ff9800;
}
.item3{
    background :#ffeb3b;
}
.item4{
    background :#c0ca33
}
.item5{
    background :#43a047
}
.item6{
    background :#00acc1
}
.item7{
    background :#3949ab
}
.item8{
    background :#5e35b1
}
.item9{
    background :#8e24aa
}
.item10{
    background :#d81b60
}
